[submodule "source/DaisyExamples"]
	path = source/DaisyExamples
	url = git@github.com:electro-smith/DaisyExamples.git
[submodule "source/llibdaisy"]
	path = source/llibdaisy
	url = https://github.com/electro-smith/libDaisy.git
